<div class="login_form_container">
  <h2>Вход в систему</h2>
  <form method="POST">
    <label>Логин<input type="text" name="login"></label>
    <label>Пароль<input type="password" name="password"></label>
    <input type="submit" name="submit" value="Войти">
  </form>
</div>