<div class="profil_container">
  <div class="side_block">
    <div class="profil_side">
      <div class="profil_photo">
        <img src="{{profil.photo}}" alt="">
      </div>
      {% if profil.id == user.id %}
        <a class="button edit_btn">Редактировать</a>
      {% else %}
        <a class="button" href="mailto:{{profil.email_arr[0]}}" target="_blank">Написать собщение</a>
      {% endif %}
    </div>
  </div>
  <div class="main_block">
    <div id="profil_information">
      <div class="pasport_block">
        <div class="pasport_info">
          <h3 class="tittle">{{profil.name}}</h3>
          <span class="status">{{profil.job_tittle}} в {{profil.department}}</span>
          <table>
              <tr>
                <td><span>Телефон</span></td>
                <td>
                  {% for phone in profil.phone_arr %}
                  <span>{{phone}}</span><br>
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <td><span>Кабинет</span></td>
                <td><span>{{profil.room}}</span></td>
              </tr>
              <tr>
                <td><span>Email</span></td>
                <td>
                  {% for email in profil.email_arr %}
                  <a href="mailto:{{email}}" target="_blank">{{email}}</a><br>
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <td><span>Дата рождения</span></td>
                <td><span>{{profil.birth}}</span></td>
              </tr>
            </table>
        </div>
      </div>
      <div class="pasport_info skills">
        <h3 class="tittle">Навыки</h3>
        <ul class="skills_list">
          {% for skill in profil.skills %}  
            <li>#{{skill}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="pasport_info skills">
        <h3 class="tittle">Интересы</h3>
        <ul class="skills_list">
          {% for interest in profil.interest %}  
            <li>#{{interest}}</li>
          {% endfor %}
        </ul>
    </div>
    <div class="pasport_info work_descr">
      <h3 class="tittle underline">Описание деятельности</h3>
      <p>{{profil.work_descr|nl2br}}</p>
    </div>
  </div>

  {% if profil.id == user.id %}
  <form class="edit_profil">
    <div class="pasport_info">
      <h3 class="tittle">Редактирование профиля</h3>
      <span class="status"></span>
      <label>
        <span>Отдел</span>
        <select name="department">
        {% for dep in edit.departments%}
          <option value="{{dep.name}}" {% if dep.name == profil.department %}selected{% endif %}>{{dep.name}}</option>
        {% endfor %}
        </select>
      </label>
      <label>
        <span>Должность</span>
        <select name="job_tittle">
        {% for job in edit.job_tittles%}
          <option value="{{job.name}}" {% if job.name == profil.job_tittle %}selected{% endif %}>{{job.name}}</option>
        {% endfor %}
        </select>
      </label>
      <label>
        <span>Телефон</span>
        <input name="phone" type="text" value="{{profil.phone}}">
      </label>
      <label>
        <span>Кабинет</span>
        <select name="room">
        {% for room in edit.rooms%}
          <option value="{{room.number}}" {% if room.number == profil.room %}selected{% endif %}>{{room.number}}</option>
        {% endfor %}
        </select>
      </label>
      <label>
        <span>Email</span>
        <input name="email" type="text" value="{{profil.email}}">
      </label>
      <label class="textarea">
        <h3>Навыки</h3>
        <textarea id="edit_skills" name="skills">{% for skill in profil.skills %}#{{skill}}   {% endfor %}</textarea>
      </label>
      <label class="textarea">
        <h3>Интересы</h3>
        <textarea id="edit_interests" name="interests">{% for interest in profil.interest %}#{{interest}}   {% endfor %}</textarea>
      </label>
      <label class="textarea">
        <h3>Описание деятельности</h3>
        <textarea name="work_descr">{{profil.work_descr|escape}}</textarea>
      </label>
      <a id="save_changes" class="button">Сохранить изменения</a>
    </div>
  </form>
  {% endif %}
</div>
</div>