*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f4f4f4;
}

.all_content
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

img
{
    height: 100%;
    width: 100%;
}

.main
{
    flex-grow: 1;
    display: flex;
}

.clear_all
{
    clear: both;
    height: 0;
    width: 0;
}

.red_border:after
{
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #e32;
    border-radius: 3px;
    margin-top: 10px;
}

.top_container
{
    flex-grow: 0;
    background-color: #fff;
    border-radius: 3px;
    border-bottom: 3px solid #e2e2e2;
    z-index: 1;
}

.top_bar
{
    height: 76px;
    padding: 0 15px 0;
    max-width: 1920px;
    margin: auto;
}

.brand
{
    height: 50px;
    margin: 13px 360px 0 15px;
    float: left;
}

.main_logo
{
    float: left;
    height: 100%;
    padding: 12px 11px 0 0;
    border-right: 1px solid #e6e6e6;
}

.main_logo a
{
    display: block;
    height: 26px;
    width: 91px;
    transition: opacity .3s ease-out; 
}

.main_tittle
{
    float: left;
    padding: 15px 0 0 12px;

    font: 15px Sans-Serif;
    letter-spacing: 0.5px;
    color: #777;
}

.main_logo a:hover 
{
    opacity: .7;
}

.search_bar
{
    float: left;
    margin-top: 21px;
    position: relative;
}

.search_bar input[type=text]
{
    height: 30px;
    width: 240px;
    outline-style: none;
    padding-left: 35px;
    border-radius: 15px;
    border: 1px solid #ccc;

    font: 15px Sans-Serif;
}

.search_icon
{
    height: 30px;
    width: 40px;
    position: absolute;
}

.search_advice
{
    width: 200px;
    border: 1px solid #707070;
    border-radius: 5px;

    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 15px;

    box-shadow: 10px 5px 15px rgba(0,0,0,0.16);
    position: absolute;
    background-color: #fff;
    display: none;
}

.result_page_link
{
    display: block;
    margin-bottom: 7px;
    height: 30px;
    border-bottom: 1px solid #707070;
}

.search_bar .tittle
{
    font: 12px SegoeUI, Sans-Serif;
    color: #727171;
    font-weight: bold;
    text-decoration: none;
    padding-left: 7px;
}

.result_skills ul
{
    list-style: none;
}

.search_bar .text, .result_skills a
{
    font: 12px/17px HelveticaNeue, Sans-Serif;
    color: #727171;
    font-weight: normal;
    text-decoration: none;
    padding-left: 7px;
}

.result_name_block
{
    display: flex;
    text-decoration: none;
    margin-bottom: 10px;
}

.result_name_block .result_photo
{
    display: block;
    height: 40px;
    width: 40px;
    border: 1px solid #707070;
    margin: 0 7px;
    border-radius: 50%;
    overflow: hidden;
}

.result_skills h4
{
    margin: 10px 0;
}

.login_btn
{
    display: flex;
    float: right;
    cursor: pointer;
    margin-top: 21px;
    position: relative;
}

.login_btn span
{
    padding: 7px 7px 0;
    font: 16px SegoeUI, Sans-Serif;
    color: #000;
}

.login_btn img
{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.dropdown_menu
{
    top: 35px;
    position: absolute;
    display: none;
    flex-direction: column;
    width: 155px;
    border: 1px solid #707070;
    border-radius:  5px;
    background-color: #fff;
    padding: 10px;
}

.dropdown_menu a
{
    font: 16px/24px SegoeUI, Sans-Serif;
    color: #707070;
    text-decoration: none;
}

.dropdown_menu.dropd
{
    display: flex;
}

.main_content
{
    max-width: 1024px;
    display:  flex;
    margin: 0 auto;
}

.side_bar
{
    width: 150px;
    flex-shrink: 0;
}

.side_bar ul
{
    list-style: none;
    padding-top: 10px;
}

.side_bar li
{
    display: block;
}

.side_bar li a
{
    display: block;
    color: #666;
    font: 12px/12px HelveticaNeue, Sans-Serif;
    text-decoration: none;
    text-align: left;
    padding: 9px 16px 9px;
}

.side_bar li a:hover
{
    background-color: #e2e2e2;
}

.content_bar
{
    display: flex;
    width: 800px;
}

.main_content_bar
{
    display: flex;
    width: 800px;
}

.side_column
{
    flex-shrink: 0;
    margin-right: 20px;
}

.login_form_container
{
    width: 414px;
    border: 1px solid #707070;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    margin-top: 140px;
    padding: 70px 45px 55px;
    background-color: #fff;
}

.login_form_container h2
{
    font: 26px SegoeUI, Sans-Serif;
    color: #707070;

    padding-bottom: 70px;
}

.login_form_container label
{
    display: block;
    text-align: left;
    font: 16px SegoeUI, Sans-Serif;
    color: #707070;
}

.login_form_container input
{
    font: 18px SegoeUI, Sans-Serif;
    color: #707070;
    border: 1px solid #707070;
    border-radius: 5px;
    outline: none;
    margin-bottom: 30px;
    padding: 0 16px;
    width: 100%;
    height: 50px;
}

.login_form_container input[type=submit]
{
    background-color: #1DA22A;
    opacity: .5;
    border-radius: 13px;
    color: #FFFCFC;
    border: none;
    cursor: pointer;
}

.login_form_container input[type=submit]:hover
{
    opacity: .7;
}

.pasport_list, .full_search_list
{
    width: 100%;
    overflow: auto;
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid rgba(112, 112, 112, .5);
    border-radius: 5px;
}

.main_search_tittle h1
{
    font: 16px SegoeUI, Sans-Serif;
    color: #727171;
    font-weight: bold;
    line-height: 1;
}

.main_search_tittle
{
    padding: 18px 0 0 20px;
    height: 54px;
    border-top: 1px solid rgba(112, 112, 112, .5);
    border-bottom: 1px solid rgba(112, 112, 112, .5);
}

.main_search_box
{
    width: 100%;
    height: 50px;
    border: none;
    padding-left: 40px;
    font: 16px SegoeUI, Sans-Serif;
    outline: none;
    color: #707070;
}

.pasport_list .main_search_box
{
    border-bottom: 1px solid rgba(112, 112, 112, .5);
}

.main_search .search_icon
{
    margin-top: 10px;
}

.pasport_block
{
    display: flex;
}

.pasport_list .pasport_block
{
    height: 105px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(112, 112, 112, .5);
}

.full_search_list .pasport_block
{
    height: 160px;
    width: 120px;
    flex-direction: column;
    margin: 6px;
    overflow: hidden;
}

.full_search_list .result_blocks
{
    padding: 9px;
    display: flex;
    flex-wrap: wrap;
}

.pasport_photo
{
    display: block;
    height: 88px;
    width: 75px;
    margin-top: 9px;
    border: 1px solid rgba(112, 112, 112, .5);
    border-radius: 5px;
    overflow:  hidden;
    background-color: white;
}

.full_search_list .pasport_photo
{
    display: block;
    border: none;
    margin: 0;
    border-radius: 5px;
    height: 120px;
    width: 120px;
}

.pasport_info
{
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 25px 25px;
    border: 1px solid rgba(112, 112, 112, .5);
    border-radius: 5px;
    background-color: #fff; 
    flex-grow: 1;
}

.main_content_bar .tittle, .profil_container .tittle
{
    font: 20px SegoeUI, Sans-Serif;
    margin-bottom: 10px;
    font-weight: bold;
    color: #3E3E3E;
}

.pasport_info .status
{
    font: 14px SegoeUI, Sans-Serif;
    position: relative;
    display: block;
    color: #707070;
}

.pasport_list .pasport_info
{
    padding: 10px 0 0 10px;
    border: none;
    position: relative;
}

.full_search_list .pasport_info
{
    border: none;
    padding: 0;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pasport_list .tittle
{
    font-size: 12px;
    color: #707070;
}

.full_search_list .tittle
{
    font: 12px HelveticaNeue, Sans-Serif;
    font-weight: bold;
    margin: 5px 0;
    color: #3E3E3E;
}

.pasport_info span, .pasport_info td a
{
    font: 14px SegoeUI, Sans-Serif;
    text-decoration: none;
    color: #727171;
    margin-right: 50px;
}

.pasport_info td a:hover
{
    color: #333;
}

.pasport_list .pasport_info span
{
    margin-bottom: 7px;
    margin-right: 0;
    font-size: 12px;
    display: block;
}

.full_search_list .pasport_info span
{
    font-size: 12px;
    margin-right: 0;
}

.pasport_info tr
{
    line-height: 30px;
    vertical-align:  top;
}

.result_skills_list
{
    padding: 18px;
}

.result_skills_list a
{
    font: 14px SegoeUI, Sans-Serif;
    color: #727171;
    text-decoration: none;
    margin-right: 15px;
    line-height: 30px;
    white-space: nowrap;
}

.email_button
{
    display: block;
    position: absolute;
    top: 16px;
    right: 0;
    height: 24px;
    width: 24px;
    background: url(images/email_icon.png) no-repeat;
}

.button
{
    display: block;
    cursor: pointer;
    width: 205px;
    height: 30px;
    margin: auto;
    padding-top: 5px;
    background-color: rgba(135, 178, 220, .5);
    color: #3E5C7B;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}

.profil_container
{
    flex-grow: 1;
    display: flex;
    border-radius: 5px;
    padding:  15px 10px 0;
    margin-top: 15px;
    background-color:  #fff;
    border: 1px solid rgba(112, 112, 112, .5);
}

.profil_side
{
    height: 270px;
    width: 224px;
    border: 1px solid rgba(112, 112, 112, .5);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.profil_photo
{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 0;
}

.profil_container .status
{
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(112, 112, 112, .5);
}

.profil_container .main_block
{
    flex-grow: 1;
    position: relative;
}

.edit_profil
{
    background-color: #fff;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.edit_profil label
{
    width: 100%;
    display: flex;
    font: 12px SegoeUI, Sans-Serif;
    color: #727171;
}

.edit_profil label span
{
    width: 90px;
    margin: 0;
}

.edit_profil input, .edit_profil select
{
    height: 25px;
    font: 14px SegoeUI, Sans-Serif;
}

.edit_profil textarea, .edit_profil input:not([type = "submit"]), .edit_profil select
{
    outline: none;
    flex-grow: 1;
    border-radius: 5px;
    border: 1px solid rgba(112, 112, 112, .5);
    color: #727171;
    margin-bottom: 20px;
    padding-left: 5px;
}

.edit_profil select
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.textarea
{
    min-height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textarea h3
{
    font: 16px SegoeUI, Sans-Serif;
    color: #3E3E3E;
    font-weight: bold;
}

.textarea textarea
{
    resize: none;
    font: 16px SegoeUI, Sans-Serif;
    padding: 9px;
}

.edit_profil .button
{
    color: #FFF8F8;
    background-color: #87B2DC;
}

.skills_list
{
    display: flex;
    flex-wrap: wrap;
}

.skills_list li
{
    display: block;
    font: 14px/20px HelveticaNeue, Sans-Serif;
    color: #727171;
    text-align: center;
    margin: 0 10px 0 0;
    border-radius: 3px;
}

.work_descr p
{
    font: 14px/22px SegoeUI, Sans-Serif;
    color: #8A8A8A;
}

.filter_list
{
    width: 230px;
    flex-shrink: 0;
    background-color: #fff;
    height: min-content;
    border: 1px solid #707070;
    border-radius: 5px;
    margin: 15px 0 0 15px;
    padding: 0 20px 15px 20px;
    font: 12px/25px SegoeUI, Sans-Serif;
}

.filter_list .tittle
{
    font: 12px/25px SegoeUI, Sans-Serif;
}

.department_block li
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filter_list a
{
    text-decoration: none;
    color: #727171;
}

.filter_list ul
{
    list-style: none;
    padding-left: 15px;
}

.filter_list .tittle
{
    margin-top: 15px;
    font-weight: bold;
    color: #727171;
}

.filter_set li
{
    display: inline;
    padding-right: 10px;
    white-space: nowrap;
}

.filter_set li:nth-child(5) ~ li
{
    display: none;    
}

.filter_list .filter_set li:last-child
{
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid #707070;
    border-radius: 50%;
}

.filter_list .filter_set li:last-child a
{
    display: block;
    font-weight: bold;
    margin-top: -5px;
    margin-left: 1px;
}

.show_all_btn
{
    font: 12px SegoeUI, Sans-Serif;
    color: #727171;
    margin: auto;
    text-decoration: none;
    font-weight: bold;
    display: none;
}

.new_users>div:nth-child(4) ~ div
{
    display: none;
}

.tittle a
{
    text-decoration: none;
    color: #3E3E3E;
}

.main_search
{
    position: relative;
}

.clear_search_btn
{
    height: 15px;
    width: 15px;
    position: absolute;
    top: 17px;
    right: 17px;
    opacity: 0.8;
    cursor: pointer;
}