{% for row in employees %}
<div class="pasport_block border_bottom">
  <a href="profile.php?id={{row.id}}" class="pasport_photo" style="background-image:url({{row.photo}})"></a>
  <div class="pasport_info">
    <h3 class="title"><a href="profile.php?id={{ row.id }}">{{row.name}}{% if row.id == user.id %} (Вы){% endif %}</a></h3>
    {% if row.department and row.job_title %}<span>{{row.job_title}}{% if row.department %} в {{row.department}}{% endif %}</span>{% endif %}
    {% if row.email[0] %}<span>{{row.email[0]}}</span>{% endif %}
    {% if row.room %}<span>кабинет {{row.room}}</span>{% endif %}
    <a class="email_button" href="mailto:{{row.email[0]}}" target="_blank"></a>
  </div>
</div>
{% endfor %}