{% if list.interests %}
<div class="main_search_title border_top border_bottom">
  <h1>Интересы ({{list.interests | length}})</h1>
</div>
<div class="result_blocks">
  {% for userName in list.interests %}
  <div class="pasport_block">
    <a href="profile.php?id={{userName.id}}" class="pasport_photo">
      <img src="{{userName.photo}}" alt="">
    </a>
    <div class="pasport_info">
      <h3 class="title"><a href="profile.php?id={{userName.id}}">{{userName.name}}</a></h3>
      <span>{{userName.job_title}}</span>
    </div>
  </div>
  {% endfor %}
</div>
{% elseif  list.skills %}
<div class="main_search_title border_top border_bottom">
  <h1>Навыки ({{list.skills | length}})</h1>
</div>
<div class="result_blocks">
  {% for userName in list.skills %}
  <div class="pasport_block">
    <a href="profile.php?id={{userName.id}}" class="pasport_photo">
      <img src="{{userName.photo}}" alt="">
    </a>
    <div class="pasport_info">
      <h3 class="title"><a href="profile.php?id={{userName.id}}">{{userName.name}}</a></h3>
      <span>{{userName.job_title}}</span>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
  {% if list.query_data.names | length %}
    <div class="main_search_title border_top border_bottom">
      <h1>Сотрудники ({{list.query_data.names | length}})</h1>
    </div>
    <div class="result_blocks">
      {% for userName in list.query_data.names %}
      <div class="pasport_block">
        <a href="profile.php?id={{userName.id}}" class="pasport_photo">
          <img src="{{userName.photo}}" alt="">
        </a>
        <div class="pasport_info">
          <h3 class="title"><a href="profile.php?id={{userName.id}}">{{userName.name}}</a></h3>
          <span>{{userName.job_title}}</span>
        </div>
      </div>
      {% endfor%}
    </div>
  {% endif %}
  {% if list.query_data.skills | length %}
    <div class="main_search_title border_top border_bottom">
      <h1>Навыки ({{list.query_data.skills | length}})</h1>
    </div>
    <div class="result_skills_list tag_set">
      <ul>
      {% for skill in list.query_data.skills %}
        <li>
          <a href="full_search.php?skill_id={{skill.id}}">#{{skill.name}}</a> ({{skill.count}})
        </li>
      {% endfor%}
      </ul>
    </div>
  {% endif %}
  {% if list.query_data.interests | length %}
    <div class="main_search_title border_top border_bottom">
      <h1>Интересы ({{list.query_data.interests | length}})</h1>
    </div>
    <div class="result_skills_list tag_set">
      <ul>
      {% for interest in list.query_data.interests %}
        <li>
          <a href="full_search.php?interest_id={{interest.id}}">#{{interest.name}}</a> ({{interest.count}})
        </li>
      {% endfor%}
      </ul>
    </div>
  {% endif %}
  {% if not list.query_data.names | length and not list.query_data.skills | length and not list.query_data.interests | length %}
    <div class="main_search_title border_top border_bottom">
      <h1>Совпадений не обнаружено</h1>
    </div>
  {% endif%}
{% endif %}