    <div class="top_bar">
    <div class="brand">
        <div class="main_logo">
            <a href="index.php">
                <img src="images/icons/ispring-logo-bold.png" alt="ispring-logo">
            </a>
        </div>
        <div class="main_title">
            <span>Корпоративный портал</span>
        </div>
    </div>
    {% if user.id %}
        <form class="search_bar" id="top_search" method="GET" action="full_search.php">
            <input type="text" placeholder="Поиск" name="search" id="search_box" autocomplete="off">
            <div class="search_advice border box_shadow" id="search_advice">
                <a class="title result_page_link border_bottom">Показать все результаты</a>
                <div id="result_names_list">
                </div>
                <div class="result_skills">
                    <h4 class="title">Навыки</h4>
                    <ul id="result_skills_list"></ul>
                </div>
                <div class="result_skills">
                    <h4 class="title">Интересы</h4>
                    <ul id="result_interests_list"></ul>
                </div>
            </div>
        </form>
        <div class="login_btn">
            <span>{{ user.name }}</span>
            <img src="{{ user.photo }}" alt="">
            <div class="dropdown_menu box_shadow">
                <a href="profile.php?id={{ user.id }}">Мой профиль</a>
                <a href="profile.php?id={{ user.id }}&edit">Редактировать</a>
                <a href="logout.php">Выйти</a>
            </div>
        </div>
    {% endif %}
</div>
