{% extends "base.html" %}

{% block top_container %}
  {% include "_header.twig" %}
{% endblock %}

{% block main_content %}
  {% include "_login.twig" %}
  <script src="/js/jquery.js" type="text/javascript"></script>
  <script src="/js/login.js" type="text/javascript"></script>
{% endblock %}