<div class="filter_list box_shadow">
  <div class="department_block">
    <h3 class="title">Отделы</h3>
    <ul>
      {% for dep in filter.department %}
        <li class="transition"><a href="employees.php?dep_id={{dep.id}}">{{dep.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="filter tag_set">
    <h3 class="title">Навыки</h3>
    <ul>
      {% for skill in filter.skills %}
        <li><a href="full_search.php?skill_id={{skill.id}}">#{{skill.name}}</a> ({{skill.count}})</li>
      {% endfor %}
    </ul>
    <a class="show_tags">показать все</a>
    <a class="hide_tags">скрыть</a>
  </div>
  <div class="filter tag_set">
    <h3 class="title">Интересы</h3>
    <ul>
      {% for interest in filter.interests %}
        <li><a href="full_search.php?interest_id={{interest.id}}">#{{interest.name}}</a> ({{interest.count}})</li>
      {% endfor %}
    </ul>
    <a class="show_tags">показать все</a>
    <a class="hide_tags">скрыть</a>
  </div>
</div>