*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.all_content
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

img
{
    height: 100%;
    width: 100%;
}

::-webkit-input-placeholder { /* Chrome */
  color: rgba(112, 112, 112, .5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(112, 112, 112, .5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(112, 112, 112, .5);
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(112, 112, 112, .5);
}

.box_shadow
{
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.transition
{
    transition: .3s ease-out;
}

.border
{
    border: 1px solid rgba(112, 112, 112, .3);
}

.border_top
{
    border-top: 1px solid rgba(112, 112, 112, .3);
}

.border_bottom
{
    border-bottom: 1px solid rgba(112, 112, 112, .3);
}

.tag_set li
{
    display: inline-block;
    margin-right: 5px;
    color: #727171;
    white-space: nowrap;
}

.tag_set li a
{
    text-decoration: none;
    border: 1px solid #727171;
    color: #727171;
    border-radius: 5px;
    padding: 0 2px;
}

.tag_set li a:hover
{
    color: #333333;
    border-color: #333333;
}

.main
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.clear_all
{
    clear: both;
    height: 0;
    width: 0;
}

.red_border:after
{
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #e32;
    border-radius: 3px;
    margin-top: 10px;
}

.top_container
{
    flex-grow: 0;
    background-color: #fff;
    border-radius: 3px;
    border-bottom: 3px solid #e2e2e2;
    z-index: 1;
}

.top_bar
{
    height: 76px;
    padding: 0 15px 0;
    max-width: 1920px;
    display:  flex;
    margin: auto;
}

.brand
{
    height: 50px;
    margin: 13px 16% 0 15px;
    display:  flex;
}

.main_logo
{
    padding: 12px 11px 0 0;
    border-right: 1px solid rgba(112, 112, 112, .5);
}

.main_logo a
{
    display: block;
    height: 26px;
    width: 91px;
    transition: opacity .3s ease-out; 
}

.main_tittle
{
    padding: 15px 0 0 12px;
    font: 17px Sans-Serif;
    color: rgba(112, 112, 112, .5);
}

.main_logo a:hover 
{
    opacity: .7;
}

.search_bar
{
    float: left;
    margin-top: 21px;
    position: relative;
}

.search_bar input[type=text]
{
    height: 30px;
    width: 240px;
    outline-style: none;
    padding-left: 10px;
    border-radius: 16px;
    border: 1px solid rgba(112, 112, 112, .5);
    color:  rgba(112, 112, 112, .5);
    font: 15px Sans-Serif;
}

.search_bar input[type=text]:focus
{
    border-color: #87B2DC;
}

.search_advice
{
    width: 200px;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 15px;
    position: absolute;
    background-color: #fff;
    display: none;
}

.result_page_link
{
    display: block;
    margin-bottom: 7px;
    height: 30px;
}

.search_bar .tittle
{
    font: 12px SegoeUI, Sans-Serif;
    color: #727171;
    font-weight: bold;
    text-decoration: none;
    padding-left: 7px;
}

.result_skills ul
{
    list-style: none;
}

.result_skills li a:hover, .result_name_block:hover, .result_name_block.selected_link
{
    background-color: #e2e2e2;
}

.search_bar .text, .result_skills a
{
    font: 12px/17px HelveticaNeue, Sans-Serif;
    color: #727171;
    font-weight: normal;
    text-decoration: none;
    padding-left: 7px;
    display:  block;
}

.result_name_block
{
    display: flex;
    text-decoration: none;
    padding: 5px 0;
}

.result_name_block .result_photo
{
    display: block;
    height: 40px;
    width: 40px;
    margin: 0 7px;
    border-radius: 50%;
    overflow: hidden;
}

.result_skills h4
{
    margin: 10px 0;
}

.login_btn
{
    display: flex;
    cursor: pointer;
    margin-top: 23px;
    margin-right: 20px;
    margin-left:  auto;
    position: relative;
}

.login_btn span
{
    padding: 7px 7px 0;
    font: 16px SegoeUI, Sans-Serif;
    color: #000;
}

.login_btn img
{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.dropdown_menu
{
    top: 35px;
    right: 0;
    position: absolute;
    display: none;
    flex-direction: column;
    width: 155px;
    border: 1px solid rgba(112, 112, 112, .3);
    border-radius:  5px;
    background-color: #fff;
    padding: 10px;
}

.dropdown_menu a
{
    font: 16px/21px SegoeUI, Sans-Serif;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.dropdown_menu.dropd
{
    display: flex;
}

.main_content
{
    max-width: 1024px;
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
}

.side_bar
{
    width: 150px;
    flex-shrink: 0;
}

.side_bar ul
{
    list-style: none;
    padding-top: 10px;
}

.side_bar li
{
    display: block;
}

.side_bar li a
{
    display: block;
    color: #666;
    font: 12px/12px HelveticaNeue, Sans-Serif;
    text-decoration: none;
    text-align: left;
    padding: 9px 16px 9px;
}

.side_bar li a:hover
{
    background-color: #e2e2e2;
}

.content_bar
{
    display: flex;
    width: 800px;
    height: min-content;
}

.main_content_bar
{
    display: flex;
    width: 800px;
}

.search_icon
{
    height: 20.3px;
    width: 21px;
    top: 14px;
    left: 14px;
    position: absolute;
}

.side_column
{
    flex-shrink: 0;
    margin-right: 20px;
}

.login_form_container
{
    width: 414px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    margin-top: 140px;
    height: auto;
    padding: 70px 45px 55px;
    background-color: rgba(255, 255, 255, .5);
}

.login_form_container .err_text
{
    color: red;
    font: 16px SegoeUI, Sans-Serif;
}

.login_form_container h2
{
    font: 26px SegoeUI, Sans-Serif;
    color: #707070;
    padding-bottom: 50px;
}

.login_form_container label
{
    display: block;
    text-align: left;
    font: 16px SegoeUI, Sans-Serif;
    color: rgba(112, 112, 112, .5);
}

.login_form_container input
{
    font: 18px SegoeUI, Sans-Serif;
    color: rgba(112, 112, 112, .5);
    border: 1px solid rgba(112, 112, 112, .3);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .3);
    outline: none;
    margin-bottom: 30px;
    padding: 0 16px;
    width: 100%;
    height: 50px;
}

.login_form_container input[type=submit]
{
    background-color: #31B67C;
    color: #FFFCFC;
    font: 16px SegoeUI, Sans-Serif;
    border: none;
    cursor: pointer;
    height: 40px;
}

.login_form_container input[type=submit]:hover
{
    opacity: .7;
}

.pasport_list, .full_search_list
{
    width: 100%;
    overflow: auto;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;
}

.main_search_tittle h1
{
    font: 16px SegoeUI, Sans-Serif;
    color: #727171;
    font-weight: bold;
    line-height: 1;
}

.main_search_tittle
{
    padding: 18px 0 0 20px;
    height: 54px;
}

.main_search_tittle:first-child, .main_search_tittle:nth-child(3)
{
    border-top: none;
}

.main_search_box
{
    width: 100%;
    height: 50px;
    border: none;
    padding-left: 40px;
    font: 16px SegoeUI, Sans-Serif;
    outline: none;
    color: #707070;
}

.pasport_block
{
    display: flex;
}

.pasport_list .pasport_block
{
    height: 105px;
    padding: 0 20px;
}

.full_search_list .pasport_block
{
    height: 160px;
    width: 120px;
    flex-direction: column;
    margin: 6px;
    overflow: hidden;
}

.full_search_list .result_blocks
{
    padding: 9px;
    display: flex;
    flex-wrap: wrap;
}

.pasport_photo
{
    display: block;
    height: 88px;
    width: 75px;
    margin-top: 9px;
    border: 1px solid rgba(112, 112, 112, .5);
    border-radius: 5px;
    overflow:  hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.full_search_list .pasport_photo
{
    display: block;
    border: none;
    margin: 0;
    height: 120px;
    width: 120px;
}

.pasport_info
{
    margin-bottom: 15px;
    padding: 10px 25px 10px;
    border-radius: 5px;
    flex-grow: 1;
}

.profil_container .pasport_info
{
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    background-color: #F9F9F9; 
}

.profil_container .side_block .pasport_info
{
    padding: 5px 10px 10px;
}

.profil_container .pasport_info table
{
    overflow: auto;
}

.tittle
{
    font: bold 20px SegoeUI, Sans-Serif;
    margin-bottom: 7px;
    color: #3E3E3E;
}

.profil_container .main_block .tittle
{
    font-size: 20px;
}

.profil_container .side_block .tittle
{
    font-size: 18px;
}

.pasport_info .status
{
    font: 14px SegoeUI, Sans-Serif;
    position: relative;
    display: block;
    color: #727171;
}

.pasport_list .pasport_info
{
    padding: 10px 0 0 10px;
    border: none;
    position: relative;
}

.full_search_list .pasport_info
{
    padding: 0;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pasport_list .tittle
{
    font-size: 12px;
    color: #707070;
}

.full_search_list .tittle
{
    font: 12px HelveticaNeue, Sans-Serif;
    font-weight: bold;
    margin: 5px 0;
    color: #3E3E3E;
}

.pasport_info span, .pasport_info td a
{
    font: 12px SegoeUI, Sans-Serif;
    text-decoration: none;
    color: #727171;
    margin-right: 22px;
}

.pasport_info td a:hover
{
    color: #333;
}

.pasport_list .pasport_info span
{
    margin-bottom: 7px;
    margin-right: 0;
    font-size: 12px;
    display: block;
}

.full_search_list .pasport_info span
{
    font-size: 12px;
    margin-right: 0;
}

.pasport_info tr
{
    line-height: 27px;
    vertical-align: top;
}

.result_skills_list
{
    padding: 18px;
    font: 14px/30px SegoeUI, Sans-Serif;
}

.email_button
{
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    height: 24px;
    width: 24px;
    background: url(../images/letter_icon.svg) no-repeat;
}

.button
{
    display: block;
    cursor: pointer;
    width: 100%;
    height: 30px;
    background-color: #5181B8;
    color: #FFF8F8;
    font: bold 13px/30px SegoeUI, sans-serif;
    margin: auto;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}

.button.reversed
{
    color: #59677D;
    background-color: #E5EBF1;
}

.profil_container
{
    display: flex;
    flex-grow: 1;
    border-radius: 5px;
    padding: 23px 10px 0;
    margin-top: 15px;
    background-color:  #fff;
}

.profil_side
{
    position: relative;
    width: 218px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.profil_side .button
{
    margin: 6px 0 11px;
}

.profil_photo
{
    height: 245px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profil_container .status
{
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(112, 112, 112, .5);
}

.profil_container .main_block
{
    margin-left: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction:  column;
    position: relative;
}

.edit_profil
{
    background-color: #fff;
    display: none;
    height: 100%;
    width: 100%;
}

.edit_profil label
{
    width: 100%;
    display: flex;
    font: 12px SegoeUI, Sans-Serif;
    color: #727171;
}

.edit_profil label span
{
    width: 90px;
    margin: 0;
}

.edit_profil input, .edit_profil select
{
    height: 25px;
    font: 14px SegoeUI, Sans-Serif;
}

.edit_profil textarea, .edit_profil input:not([type = "submit"]), .edit_profil select
{
    outline: none;
    flex-grow: 1;
    border-radius: 5px;
    border: 1px solid rgba(112, 112, 112, .5);
    color: #727171;
    margin-bottom: 20px;
    padding-left: 5px;
}

.edit_profil select
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.textarea
{
    min-height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textarea h3
{
    font: 16px SegoeUI, Sans-Serif;
    color: #3E3E3E;
    font-weight: bold;
}

.textarea textarea
{
    resize: none;
    font: 16px SegoeUI, Sans-Serif;
    padding: 9px;
}

.edit_profil .button
{
    width:  178px;
}

.skills_list
{
    height: 75px;
    overflow: hidden;
}

.skills_list li a
{
    font: 14px/24px HelveticaNeue, Sans-Serif;
}

.work_descr p
{
    font: 14px/23px SegoeUI, Sans-Serif;
    color: #8A8A8A;
    height: 120px;
    overflow: hidden;
}

.filter_list
{
    width: 230px;
    flex-shrink: 0;
    background-color: #fff;
    height: min-content;
    border-radius: 5px;
    margin: 15px 0 0 15px;
    padding-bottom: 15px;
}

.filter_list .tittle
{
    font: 12px/25px SegoeUI, Sans-Serif;
}

.department_block li
{
    transition-property: background-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.department_block li:hover
{
    background-color: rgba(228, 228, 228, .4);
}

.department_block li a
{
    display: block;
    font: 12px/30px SegoeUI, Sans-Serif;
    padding-left: 30px;
}

.department_block li.curr_department
{
    border-left: 2px solid #707070;
    background-color: #E4E4E4;
}

.department_block li.curr_department a
{
    padding-left: 28px;
}

.filter_list a
{
    text-decoration: none;
    color: #727171;
}

.filter_list ul
{
    list-style: none;
}

.filter_list .tittle
{
    margin: 15px 0 0;
    padding-left:  20px;
    font-weight: bold;
    color: #727171;
}


.filter ul
{
    padding: 0 30px;
}

.filter li:nth-child(5) ~ li
{
    display: none;    
}

.filter li
{
    font: 12px/25px SegoeUI, Sans-Serif;
}

.show_all_btn, .hide_all_btn
{
    font: 12px SegoeUI, Sans-Serif;
    color: #727171;
    margin: auto;
    width:  100%;
    text-align:  center;
    text-decoration: none;
    font-weight: bold;
    display: none;
}

.show_btn, .hide_btn
{
    color: #727171;
    font: 10px SegoeUI, Sans-Serif;
    text-align: center;
    cursor: pointer;
    display: block;
}

.show_tags, .hide_tags
{
    text-decoration: none;
    color: #727171;
    font: 12px/30px SegoeUI, Sans-Serif;
    text-align: center;
    cursor: pointer;
    display: block;
}

.new_users>div:nth-child(4) ~ div
{
    display: none;
}

.tittle a
{
    text-decoration: none;
    color: #3E3E3E;
}

.main_search
{
    position: relative;
}

.page_tittle h1
{
    font: bold 20px/27px SegoeUI,Sans-Serif;
    color: #727171;
    margin: 14px 0 10px 20px;
}

.clear_search_btn
{
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 17px;
    right: 21px;
    cursor: pointer;
}

.search_advice b
{
    color: black;
    font-weight: bold;
    background-color: #f9f6b7;
}