*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f4f4f4;
}

.all_content
{
    display:  flex;
    flex-direction:  column;
}

img
{
    height: 100%;
    width: 100%;
}

.clear_all
{
    clear: both;
    height: 0;
    width: 0;
}

.red_border:after
{
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #e32;
    border-radius: 3px;
    margin-top: 10px;
}

.top_container
{
    background-color: #fff;
    border-radius: 3px;
    border-bottom: 3px solid #e2e2e2;
}

.top_bar
{
    height: 76px;
    padding: 0 15px 0;
    max-width: 1920px;
    margin: auto;
}

.brand
{
    height: 50px;
    margin: 13px 60px 0 15px;
    float: left;
}

.main_logo
{
    float: left;
    height: 100%;
    padding: 12px 11px 0 0;
    border-right: 1px solid #e6e6e6;
}

.main_logo a
{
    display: block;
    height: 26px;
    width: 91px;
    transition: opacity .3s ease-out; 
}

.main_tittle
{
    float: left;
    padding: 15px 0 0 12px;

    font: 15px Sans-Serif;
    letter-spacing: 0.5px;
    color: #777;
}

.main_logo a:hover 
{
    opacity: .7;
}

.search_bar
{
    float: left;
    margin-top: 21px;
}

.search_bar input
{
    height: 30px;
    width: 240px;
    outline-style:none;
    padding-left: 13px;
    border-radius: 15px;
    border: 1px solid #ccc;

    font: 15px Sans-Serif;
}

.login_btn
{
    float: right;
    margin-top: 21px;
}

.login_link
{
    display: block;
    height: 32px;
    width: 65px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #fff;

    color: #000;
    font: 15px/32px Sans-Serif;
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out;
    transition-property: color, background-color;
}

.login_link:hover
{ 
    background-color: #666;
    color: #fff;
}

.main_content
{
    max-width: 1920px;
    display:  flex;
    margin: auto;
}

.side_bar
{
    width: 240px;
    border-right: 3px solid #e2e2e2;
    flex-shrink: 0;
}

.side_list
{
    list-style: none;
    padding-top: 10px;
}

.side_list li
{
    display: block;
    padding: 0 0 0 20px;
}

.side_list li a
{
    display: block;
    color: #666;
    font: 16px/20px Sans-Serif;
    text-decoration: none;
    text-align: left;
    padding: 18px 16px 0;
}

.side_list li a:hover
{
    background-color: #e2e2e2;
}

.content_bar
{
    padding: 30px;
    display:  flex;
}

.side_column
{
    flex-shrink: 0;
    margin-right: 20px;
}

.page_block
{
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #e2e2e2;
    margin-bottom: 20px;
}

.page_foto
{
    max-width: 340px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

.action
{
    margin-top: 20px;
}

.action a
{
    border: 2px solid #e32;
    display: block;
    padding: 15px 0;
    border-radius: 16px;
    background-color: #fff;
    transition: .3s ease-out;
    transition-property: color, background-color;

    color: #e32;
    text-align: center;
    text-decoration: none;
    font: 16px Sans-Serif;
    font-weight: bold;
}

.action a:hover
{
    background-color: #e32;
    color: #fff;
}

.secondary_info h3
{
    font-family: Sans-Serif;
}

.secondary_info ul
{
    list-style: none;
    padding-bottom: 50px;
}

.secondary_info li
{
    max-width: 340px;
    padding: 20px 0 0 10px;
    font: 16px/23px Sans-Serif;
}

.page_name
{
    font-family: Sans-Serif;
    font-weight: 500;
}

.info_header
{
    font: 18px Sans-Serif;
    color: #000;
    padding: 30px 10px 10px 0;
    background-color: #fff;
    display: inline-block;
}

.record
{
    list-style: none;
    padding-top: 20px;
    margin-top: -20px;
    border-top: 1px solid #999;
}

.record li
{
    padding-bottom: 10px;
}

.record .field
{
    font: 16px Sans-Serif;
    color: #828282;
}

.record .field p
{
    font: 17px/33px sans-serif;
    color: #555;
    padding-top: 15px;
    font-weight: 400;
}

.record .note
{
    font: 18px Sans-Serif;
    color: #000;
}

.record .mail a
{
    font: 16px Sans-Serif;
    text-decoration: none;
    color: #0082ed;
    outline: none;
    border: none;
}
.record .mail a:hover
{
    color: #008f;
}

@media screen and (max-width: 1024px) 
{
    .side_column
    {
        width: 100%;
        margin-right: 0;
    }    
    .content_bar
    {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 640px) 
{
    .side_bar
    {
        flex-shrink: 1;
    }
}