{% for row in employees %}
<div class="pasport_block border_bottom">
  <a href="profil.php?id={{row.id}}" class="pasport_photo" style="background-image:url({{row.photo}})"></a>
  <div class="pasport_info">
    <h3 class="tittle">{{row.name}}</h3>
    <span>{{row.job_tittle}} в {{row.department}}</span>
    <span>{{row.email[0]}}</span>
    <span>кабинет {{row.room}}</span>
    <a class="email_button" href="mailto:{{row.email[0]}}" target="_blank"></a>
  </div>
</div>
{% endfor %}