{% extends "base.html" %}

{% block top_container %}
  {% include "_header.twig" %}
{% endblock %}

{% block main_content %}
<div class="main_content">
  <div class="side_bar">
    {% include "_side_bar.twig" %}
  </div>

  <div class="main_content_bar">
    <div class="full_search_list box_shadow">
      {% include "_main_search_bar.twig" %}
      {% include "_full_search_list.twig" %}
    </div>
    {% include "_search_filter.twig"%}
  </div>
</div>
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/header.js" type="text/javascript"></script>
<script src="/js/search.js" type="text/javascript"></script>
<script src="/js/filter.js" type="text/javascript"></script>
{% endblock %}