<div class="top_bar">
  <div class="brand">
    <div class="main_logo">
      <a href="http://online-profil.ru">
        <img src="images/ispring-logo-bold.png" alt="ispring-logo">
      </a>
    </div>
    <div class="main_tittle">   
      <span>Корпоративный портал</span>
    </div>
  </div>
  {% if user.id %}
  <form class="search_bar" id="top_search" method="GET" action="full_search.php">
    <input type="text" placeholder="Поиск" name="query" id="search_box" autocomplete="off">
    <div class="search_advice border box_shadow" id="search_advice">
      <a class="tittle result_page_link border_bottom">Показать все результаты</a>
      <div id="result_names_list">
      </div>
      <div class="result_skills">
        <h4 class="tittle">Навыки</h4>
        <ul id="result_skills_list"></ul>
      </div>
      <div class="result_skills">
        <h4 class="tittle">Интересы</h4>
        <ul id="result_interests_list"></ul>
      </div>
    </div>
  </form>
  <div class="login_btn">
    <span>{{user.name}}</span>
    <img src="{{user.photo}}" alt="">
    <div class="dropdown_menu box_shadow">
      <a href="profil.php?id={{user.id}}">Мой профиль</a>
      <a href="profil.php?id={{user.id}}&edit">Редактировать</a>
      <a href="logout.php">Выйти</a>
    </div>
  </div>
  {% endif %}
  <div class="clear_all"></div>
</div>