<ul>
  <li><a href="profil.php?id={{user.id}}">Моя страница</a></li>
  <li><a href="news.php">Новости</a></li>
  <li><a href="employees.php">Сотрудники</a></li>
  <li><a href="#">Библиотека</a></li>
  <li><a href="#">Столовая</a></li>
</ul>