<div class="login_form_container box_shadow">
  <h2>Вход в корпоративный портал iSpring</h2>
  <span class="err_text">{{err_text}}</span>
  <form id="login_form" method="POST">
    <label>Логин<input type="text" name="login"></label>
    <label>Пароль<input type="password" name="password"></label>
    <input type="submit" name="submit" value="Войти">
  </form>
</div>