<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Онлайн-профиль</title>
</head>
<body>
  <div class="all_content">
    <header class="top_container">
      {% block top_container %}
      {% endblock %}
    </header>
    <main class="main">
      {% block main_content %}
      {% endblock %}
    </main>
  </div>
</body>
</html>