*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #fff;
}

.all_content
{
    display: flex;
    flex-direction: column;
    min-height: min-content;
}

img
{
    height: 100%;
    width: 100%;
}

.clear_all
{
    clear: both;
    height: 0;
    width: 0;
}

.red_border:after
{
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #e32;
    border-radius: 3px;
    margin-top: 10px;
}

.top_container
{
    background-color: #fff;
    border-radius: 3px;
    border-bottom: 3px solid #e2e2e2;
}

.top_bar
{
    height: 76px;
    /* padding: 0 15px 0; */
    max-width: 1920px;
    margin: auto;
}

.brand
{
    height: 50px;
    margin: 11px 63px 0 11px;
    float: left;
}

.main_logo
{
    float: left;
    height: 100%;
    padding: 12px 23px 0 0;
    border-right: 1px solid #e6e6e6;
}

.main_logo a
{
    display: block;
    height: 26px;
    width: 91px;
    transition: opacity .3s ease-out; 
}

.main_tittle
{
    float: left;
    padding: 19px 0 0 8px;
    font: 16px Sans-Serif;
    letter-spacing: 0.5px;
    color: #777;
}

.main_logo a:hover 
{
    opacity: .7;
}

.search_bar
{
    float: left;
    margin-top: 21px;
}

.search_bar input
{
    height: 30px;
    width: 233px;
    outline-style:none;
    padding-left: 14px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font: 15px Sans-Serif;
}

.main_content
{
    max-width: 1920px;
    margin: auto;
}

.action_buttons
{
    display: flex;
    padding-left: 12px;
}

.action_buttons div
{
    width: 95px;
    height: 22px;
    margin: 20px 10px 15px;
    padding-top: 3px;
    border: 1px solid #c0c0c0;
    font: 12px Sans-Serif;
    color: #707070;
    text-align: center;
    cursor: pointer;
}

.background_container
{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    padding-top: 50px;

    background-color: rgba(100,100,100,0.3);
}

.form_container
{
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #c0c0c0;
    height: 700px;
    width: 500px;
    padding: 20px 30px;
    margin: auto;
}

.close_form
{
    position: absolute;
    height: 20px;
    width: 20px;
    background: url(images/close.png) no-repeat;
    background-size: contain;

    cursor: pointer;
    top: 20px;
    right: 20px;
}

.form_container h2
{
    font: 26px Sans-Serif;
    text-align: center;
}

.form_container label
{
    font: 18px Sans-Serif;
}

.form_container input
{
    width: 100%;
    height: 40px;
    outline: none;
    border: 2px solid #c0c0c0;
    border-radius: 7px;
    margin: 5px 0 30px;
    padding-left: 10px;
    font: 18px Sans-Serif;
}

.form_container input:focus
{
    border-color: #707070;
}

.user_list 
{
    margin: auto;
}
.user_list table
{
    border-collapse: collapse; 
    width: 100%;
}

.user_list th
{
    height: 20px;
    white-space: nowrap;
}

.user_list th:last-child
{
    width: 100%;
}

.user_list tr
{
    border-bottom: 1px solid #c0c0c0;
    text-align: left;
}

.user_list td
{
    height: 36px;
    white-space: nowrap;
}

.user_list td:last-child
{
    width: 100%;
}

.user_list .checkbox_all, .user_list .checkbox
{
    width: 13px;
    height: 13px;
    border: 1px solid #707070;
    margin: 14px 14.5px 13px 24px;
    cursor: pointer;
} 

.selected
{
    background-color: #707070;
}

.user_list .login_block
{
    margin-right: 55px;
    display: flex;
}

.user_list .login_block img
{
    margin: 5.5px 2.5px 5.5px 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.user_list span
{
    margin-top: 13px;
    font: 14px Sans-Serif;
    color: #707070;
}

.user_list .email  
{
    margin-right: 23px;
}

.user_list .reg_date  
{
    margin-right: 42px;
}

.user_list .status  
{
    margin-right: 50px;
}