<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>{% block tittle %}{% endblock %}</title>
</head>
<body>
  <div class="all_content">
    <header class="top_container">
      {% block top_container %}
      {% endblock %}
    </header>
    <main class="main_content">
      {% block main_content %}
      {% endblock %}
    </main>
  <footer></footer>
  </div>
</body>
</html>